<div *ngIf="currentBin" class="edit-form">
  <h4>Bin</h4>
  <form>
    <div class="form-group">
      <label for="type">Type</label>
      <input
        type="text"
        class="form-control"
        id="type"
        [(ngModel)]="currentBin.type"
        name="type"
      />
    </div>
    <div class="form-group">
      <label for="lieu">Lieu</label>
      <input
        type="text"
        class="form-control"
        id="lieu"
        [(ngModel)]="currentBin.lieu"
        name="lieu"
      />
    </div>

    <div class="form-group">
      <label><strong>Etat Bin:</strong></label>
      {{ currentBin.isFull ? "Plein" : "Vide" }}
      {{currentBin.filling_rate}}
    </div>
    <app-jauge-poubelle [pourcentageRemplissage]="currentBin.filling_rate?currentBin.filling_rate:0"></app-jauge-poubelle>

  </form>

  <button
    *ngIf="!currentBin.isFull"
    class="badge badge-primary mr-2"
    (click)="updateFill()"
  >
    Vider
  </button>

  <button class="badge badge-danger mr-2" (click)="deleteBin()">
    Delete
  </button>

  <button type="submit" class="badge badge-success" (click)="updateBin()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentBin">
  <br />
  <p>Cannot access this Bin...</p>
</div>